.landingpage__content {
  width: 100%;
  object-fit: contain;
  position: fixed;
  background: url(https://i.ibb.co/vXqDmnh/background.jpg) no-repeat center
    center/cover;
  z-index: 1;
  top: 0;

  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
  color: white;

  height: 100vh;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 45px;
  justify-content: center;
}
.landingpage__center {
  align-items: center;
  text-align: center;
  margin: 180px;
}
.landingpage__center > h1,
h3,
h5,
button {
  padding: 10px;
}
.landingpage__button {
  margin: 10px;
  background-color: rgb(229, 9, 20);
  color: white;
  border-radius: 9px;
  cursor: pointer;
  transition: transform 450ms;
  border: 1px solid;
}
.landingpage__header {
  display: flex;
  object-fit: contain;
  justify-content: space-between;
  align-items: center;
}
.landingpage__logo {
  width: 140px;
}
.landingpagenav__button {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  float: right;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 65px;

  transition: transform 450ms;
  border: 1px solid;
}
.landingpage__button:hover {
  transform: scale(1.08);
}
.landingpagenav__button:hover {
  transform: scale(1.08);
}
